@import '~bootstrap/scss/bootstrap.scss'
@import '~compass-mixins'

$strong-orange: #ffa831
$jumbo: #fb6a57

body
  background-color: #f7f7f7

.jumbooo
  background-color: $jumbo
  color: white
  border-radius: 0

strong
  color: $strong-orange

.link-unstyled, .link-unstyled:link, .link-unstyled:hover
  color: inherit
  text-decoration: inherit

// .image-thumb + .image-thumb
//   margin-left: 1em


.item-enter
  opacity: 0
  transform:   translate(0, -70px)

.item-enter-active
	opacity: 1
	transform:   translate(0,0)
	transition: opacity 0.5s ease-in, transform 0.5s ease-in
	// transition-property: transform, opacity
	// transition-duration: 900ms
	// transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear