@import '~bootstrap/scss/bootstrap.scss'
@import '~compass-mixins'

$strong-orange: #ffa831
$jumbo: #fb6a57

body
  background-color: #f7f7f7

.jumbooo
  background-color: $jumbo
  color: white
  border-radius: 0

strong
  color: $strong-orange

.link-unstyled, .link-unstyled:link, .link-unstyled:hover
  color: inherit
  text-decoration: inherit

// .image-thumb + .image-thumb
//   margin-left: 1em